/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
h1, h2 {
  display: inline-block;
  margin: 0;
  padding: .05em;
}

h2 {
  background-image: linear-gradient(to right, #FFC0CB, #FF69B4);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
}

h1 {
  font-size: 3em;
}

h3 {
  background-image: linear-gradient(to right, #00FF00, #00FF00); 
  -webkit-background-clip: text;
  color: transparent; 
  font-size: 1.2em; 
}
h4 {
  background-image: linear-gradient(to right, #FFC0CB, #FF69B4);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.3em;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f0f0f0; /* Adjusted for light theme */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000; /* Adjusted for light theme */
}

.App-link {
  color: #007bff; /* Adjusted for light theme */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2 {
  display: inline-block;
  margin: 0;
  padding: .05em;
}

h2 {
  background-image: linear-gradient(to right, #FFC0CB, #FF69B4);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
}

h1 {
  font-size: 3em;
}

h3 {
  background-image: linear-gradient(to right, #00FF00, #00FF00); 
  -webkit-background-clip: text;
  color: transparent; 
  font-size: 1.2em; 
}

h4 {
  background-image: linear-gradient(to right, #FFC0CB, #FF69B4);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.3em;
}

