.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff; /* Adjusted for light theme */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000; /* Adjusted for light theme */
}

.App-link {
  color: #007bff; /* Adjusted for light theme */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2 {
  display: inline-block;
  margin: 0;
  padding: .05em;
}

h2 {
  background-image: linear-gradient(to right, #FFC0CB, #FF69B4);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
}

h1 {
  font-size: 3em;
}

h3 {
  background-image: linear-gradient(to right, #00FF00, #00FF00); 
  -webkit-background-clip: text;
  color: transparent; 
  font-size: 1.2em; 
}

h4 {
  background-image: linear-gradient(to right, #FFC0CB, #FF69B4);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.3em;
}

.file-upload {
  background-color: #FFC0CB; /* Pink background */
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
  font-weight: 800;
  margin-bottom: 100px;
}

.file-upload:hover {
  background-color: #FF69B4; /* Slightly darker pink for hover */
}

.file-input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}